<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../../styles.css">
    <title>university application</title>
    <ul class="NavBar">
        <li><a href="">Percentage</a></li>
        <li><a href="">TargetSchool</a></li>
        <li><a href="">DreamSchool</a></li>
        <li><a href="">Profile</a></li>
    </ul>
</head>
<body>
    {{{body}}}  
</body>
</html>